<body>

<div class=" text-white ">
            
      
    <nav class="navbar navbar-relative navbar-expand-lg navbar-dark bg-bg-dark " style='background-color:black; height:42px;'>
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
           data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item " >
                <a class="nav-link active" aria-current="page" href="#">fidalli@gmail.com</a>
              </li>
              <li class="nav-item" >
                <div class="d-flex align-items-center">
                  <div class="vr mx-3" style="height: 40px; background-color: white;"></div>
                </div>
              </li>
              <li class="nav-item" style='padding-right: 120px;'>
                <a class="nav-link active" aria-current="page" href="#">+226 63 09 31 31</a>
              </li>
              <li class="nav-item" >
                <a class="btn btn-outline-danger nav-link active" aria-current="page" href="#">Se connecter</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">Formation en presentiel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item " style='padding-right: 120px;'>
                <a class="nav-link" href="#">Nos centres</a>
              </li>
              <li class="nav-item " style='padding-right: 80px, color:red;'>
                <a class="nav-link" href="#">Qui sommes nous ?</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>



<section class="hero py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Rejoignez nos formations en présentiel</h1>
        <br/>
        <p>Élargissez vos compétences grâce à des formations intensives et pratiques dans divers domaines.</p>
      </div>
      <div class="col-md-6">
        <video class="w-100" controls>
          <source src="testimonials.mp4" type="video/mp4">
          Votre navigateur ne prend pas en charge la balise vidéo.
        </video>
      </div>
    </div>
  </div>
</section>



<div class="container py-3">

<div class=" row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-3 ">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>