

body {

	font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color:rgba(127, 127, 189, 0.037) ;


}

.navbar {
  background-color: rgb(33, 33, 83); /* Couleur de fond de la navbar */
  position: relative;
  height: 33px;
}

.nav-item{
   margin-left: 30px;
}




.form-select.search-container{
  background-color: rgb(33, 33, 83);
  color:white
}

.navbar-fixed-top {
  position: fixed;
  width: 100%;
  z-index: 1000; /* S'assure que cette navbar est au-dessus du reste du contenu */
}









.navbar-scroll {
  position: relative;
  width: 100%;
  z-index: 900;
  transition: top 0.3s;
}

.navbar-scroll.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}









