body {
  background: #f6f5f7;
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
}

.navbar {
  background-color: rgb(33, 33, 83); /* Couleur de fond de la navbar */
  position: relative;
  height: 28px;
}

.nav-item{
   margin-left: 30px;
}




.form-select.search-container{
  background-color: rgb(33, 33, 83);
  color:white
}

.navbar-fixed-top {
  position: fixed;
  width: 100%;
  z-index: 1000; /* S'assure que cette navbar est au-dessus du reste du contenu */
}









.navbar-scroll {
  position: relative;
  width: 100%;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transition pour le top et la translation */
  z-index: 1000; 
}

.navbar-scroll.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}











/* Bannière */
.banner {

  background-size: cover;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.banner-content {
  background-color: rgba(13, 0, 0, 0.5); /* Transparence sombre */
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

.banner-content h1 {
  margin: 0;
  font-size: 2.5em;
}

.banner-content p {
  font-size: 1.2em;
  margin: 10px 0;
}





footer {
  background-color: #003366; /* Bleu foncé */
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 10px;
  flex: 1;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #ffcc00; /* Jaune doré */
  text-decoration: none;
}
